*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
h1{
    text-align: center;
}
body{
    height: 100vh;
    line-height: 1.6;
}
.container{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    gap: 50px;
}

.box{
    background-color: rgb(109, 109, 109);
}

.grid{
    height: 500px;
    width: 500px;
    display: grid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.hovered{
    background-color: rgb(121, 94, 94);
}

.controls{
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

button{
    margin-top: 3px;
    padding: 11px;
    background-color: chocolate;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
}

button:hover{
    background-color: rgb(192, 112, 54);
}


 @media only screen and (max-width: 800px) {
    .container{
        flex-direction: column;
    }
  
} 


